In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('../datasets/RIASEC_Dataset.csv', sep=';', engine='python')

In [4]:
print(df.head(10))
print("\nSố lượng nhãn duy nhất của major:", df['major'].nunique())

   R1  R2  R3  R4  R5  R6  R7  R8  I1  I2  ...  religion  orientation  race  \
0   3   4   3   1   1   4   1   3   5   5  ...         7            1     1
1   1   1   2   4   1   2   2   1   5   5  ...         7            3     4
2   2   1   1   1   1   1   1   1   4   1  ...         7            1     4
3   3   1   1   2   2   2   2   2   4   1  ...         0            1     1
4   4   1   1   2   1   1   1   2   5   5  ...         4            3     1
5   3   5   1   3   1   5   3   4   4   5  ...         2            1     5
6   1   4   1   4   1   4   1   2   4   4  ...         2            1     1
7   5   1   2   2   2   1   2   1   4   4  ...         7            3     1
8   1   1   1   1   1   1   1   1   2   1  ...         4            1     1
9   4   2   2   2   2   2   3   2   2   2  ...        10            1     1

   voted  married  familysize  uniqueNetworkLocation  country  source  \
0      2        1           1                      1       US       2
1      1        2           3                      1       US       1
2      2        1           1                      1       US       1
3      2        1           1                      1       CN       0
4      2        1           4                      1       PH       0
5      1        1           2                      1       IN       2
6      2        1           3                      2       US       0
7      2        1           0                      1       PH       0
8      1        1           3                      1       US       0
9      2        1           6                      1       MY       1

                        major
0                         NaN
1                     Nursing
2                         NaN
3                         NaN
4                   education
5                  Literature
6                        Math
7     mathematics and science
8  family resource management
9                 Counselling

[10 rows x 93 columns]

Số lượng nhãn duy nhất của major: 15943

In [5]:
print(df.columns)

Index(['R1', 'R2', 'R3', 'R4', 'R5', 'R6', 'R7', 'R8', 'I1', 'I2', 'I3', 'I4',
       'I5', 'I6', 'I7', 'I8', 'A1', 'A2', 'A3', 'A4', 'A5', 'A6', 'A7', 'A8',
       'S1', 'S2', 'S3', 'S4', 'S5', 'S6', 'S7', 'S8', 'E1', 'E2', 'E3', 'E4',
       'E5', 'E6', 'E7', 'E8', 'C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7', 'C8',
       'introelapse', 'testelapse', 'surveyelapse', 'TIPI1', 'TIPI2', 'TIPI3',
       'TIPI4', 'TIPI5', 'TIPI6', 'TIPI7', 'TIPI8', 'TIPI9', 'TIPI10', 'VCL1',
       'VCL2', 'VCL3', 'VCL4', 'VCL5', 'VCL6', 'VCL7', 'VCL8', 'VCL9', 'VCL10',
       'VCL11', 'VCL12', 'VCL13', 'VCL14', 'VCL15', 'VCL16', 'education',
       'urban', 'gender', 'engnat', 'age', 'hand', 'religion', 'orientation',
       'race', 'voted', 'married', 'familysize', 'uniqueNetworkLocation',
       'country', 'source', 'major'],
      dtype='object')

In [6]:
print("Shape:", df.shape)

Shape: (145828, 93)

In [7]:
print("\nNull counts:")
print(df.isnull().sum())

Null counts:
R1                           0
R2                           0
R3                           0
R4                           0
R5                           0
                         ...
familysize                   0
uniqueNetworkLocation        0
country                     12
source                       0
major                    52874
Length: 93, dtype: int64

In [8]:
df = df.dropna()
print(df.isnull().sum())
print("Shape:", df.shape)

R1                       0
R2                       0
R3                       0
R4                       0
R5                       0
                        ..
familysize               0
uniqueNetworkLocation    0
country                  0
source                   0
major                    0
Length: 93, dtype: int64
Shape: (92948, 93)

In [9]:
df = df[df['age'] >= 18]

df = df[df['gender'].isin([1, 2, 3])]
df = df[df['urban'].isin([1, 2, 3])]

df = df.reset_index(drop=True)

In [10]:
df.columns = df.columns.str.replace(r'(_\d+)$', '', regex=True)

columns_to_keep = []

for prefix in ['R', 'I', 'A', 'S', 'E', 'C']:
    columns_to_keep.extend([f'{prefix}{i}' for i in range(1, 9)])

columns_to_keep.extend([f'TIPI{i}' for i in range(1, 11)])
columns_to_keep.extend([ 'gender','urban','major']) 

df_cleaned = df[columns_to_keep].copy()


df_cleaned.to_csv('../datasets/RIASEC_Dataset_cleaned.csv', index=False)